
/* footer */
footer {
  background: #2F303A;
  width: 100%;
  padding: 60px 0;
}
.footer_logo {
  transition: .4s;
  color: var(--color-footer-link);
}
.footer_logo:hover span {
  color: var(--color-footer-link);
  transition: .4s;
}
footer ul  {
  padding-top: 20px;
}
.contact {
  padding-top: 9px;
}
.footer_link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-footer-link);
}
.footer_adress{
  color: var(--color-footer-link);
}
